body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Oxygen', sans-serif;
    user-select: none;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0;
}

#contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#counter {
    font-size: 5vw;
    width: 50%;
    text-align: center;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #7bb7fa;
    margin: 0 2vw;
    padding: 1vh 1vw;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
}

#decrement i {
    transform: rotateZ(180deg);
}

form {
    margin: 5vh 0;
}

@media screen and (max-aspect-ratio: 1/1) {
    h1 {
        font-size: 6vw;
    }

    #counter {
        font-size: 15vw;
    }

    .button {
        font-size: 4vw;
        padding: 1.5vh 3vw;
    }
}
